<%= form_for([@classroom, @assignment, @question]) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description, "Description (with answer options)" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :correct_answer %>

     A <%= form.radio_button :correct_answer, "A" %>
    B <%= form.radio_button :correct_answer, "B" %>
    C <%= form.radio_button :correct_answer, "C" %>
    D <%= form.radio_button :correct_answer, "D" %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
