<% if teacher_signed_in? || student_signed_in? %>
<br>
<h1>Your Classrooms</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <!-- <th>Teacher</th> -->
  </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= link_to classroom.name, classroom %></td>
        <td><%= classroom.description %></td>
        <td><%#= classroom.teacher.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if teacher_signed_in? %>
<%= link_to 'New Classroom', new_classroom_path, class: 'btn btn-primary' %>
<% end %>
<% if student_signed_in? %>
<%= link_to 'Join Classroom', classrooms_all_path, class: 'btn btn-primary' %>
<% end %>


<% else %>
<div class="jumbotron">
          <h1 class="display-3">Welcome to OpenEDU!</h1>
          <p>OpenEDU allows you to teach or enroll in courses in a variety of disciplines.</p><br>
          <p><strong>Note: OpenEDU should be used with Firefox, for best office hours streaming performance.</strong></p>
          <%= link_to "Teacher Sign Up", new_teacher_registration_path, class: "btn btn-info" %> <br><br>
          <%= link_to "Student Sign Up", new_student_registration_path, class: "btn btn-info" %>
        </div>

<% end %>
