<h1><%= @classroom.name %></h1>
<%= link_to "Office Hours", classroom_officehours_path(@classroom),
		class: 'btn btn-primary' %>
<% if teacher_signed_in? %>
	<%= link_to 'New Assignment', new_classroom_assignment_path(classroom_id: @classroom), class: 'btn btn-info'%>
<% end %>
<br>


<p>
  <strong>Teacher:</strong>
  <%= @classroom.teacher.full_name %>
</p>

<p>
	<strong>Info:</strong>
  <%= @classroom.description %>
</p>


<% if (teacher_signed_in? || student_signed_in?) %>
	<%= render "assignments/index", assignments: @assignments%>
<% end %>

<h3>Forum </h3>

   <div id="graphcomment"></div>
    <script type="text/javascript">
      /* - - - CONFIGURATION VARIABLES: MAKE SURE THE ID IS YOURS - - - */
      window.graphcomment_id = 'openedu';
      /* - - - DON'T EDIT BELOW THIS LINE - - - */
      (function() {
        var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
        gc.src = 'https://graphcomment.com/js/integration.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
      })();
    </script>
  