<p id="notice"><%= notice %></p>

<h1><%= @classroom.name %></h1>

<p>
  <strong>Teacher:</strong>
  <%= @classroom.teacher.full_name %>
</p>

<p>
	<strong>Info:</strong>
  <%= @classroom.description %>
</p>


<% if (teacher_signed_in? || student_signed_in?) %>
	<%= render "assignments/index", assignments: @assignments%>
<% end %>

<% if teacher_signed_in? %>
<%= link_to 'New Assignment', new_classroom_assignment_path(classroom_id: @classroom) %>
<br>

<%#= link_to 'Edit classroom', edit_classroom_path(@classroom) %>


<% end %>
     
<%= link_to "Office Hours", classroom_officehours_path(@classroom),
		class: 'btn btn-primary' %>
