<%= form_for([submission.question.assignment.classroom, submission.question.assignment, submission.question, submission]) do |form| %>
	<%= form.hidden_field :student_id, :value => current_student.id %>
  <div class="field">

     A <%= form.radio_button :answer, "A" %>
    B <%= form.radio_button :answer, "B" %>
    C <%= form.radio_button :answer, "C" %>
    D <%= form.radio_button :answer, "D" %>
  
    <%= form.submit "Submit", class: "btn btn-sm" %>
  </div>
<% end %>
