<!DOCTYPE html>
<html>
  <head>
    <title>OpenEDU</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "OpenEDU", root_path, class: "navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if (teacher_signed_in? || student_signed_in?) %>
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
        <li class="nav-item">
          <%= link_to "Sign out", teacher_signed_in? ? destroy_teacher_session_path : destroy_student_session_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Teacher Login", new_teacher_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Student Login", new_student_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <span class="navbar-text">
      <%= teacher_signed_in? ? current_teacher.full_name : 
          student_signed_in? ? current_student.full_name : '' %>
    </span>
  </div>


</nav>

    
        <div class="container justify-content-center">

      


     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= (message_type == "notice" ? "success" : message_type) %>"><%= message %></div>
      <% end %>
    <%= yield %>
  </div>
  </body>
</html>
